@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    background-color: #C77562;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.item {
    padding: 10px;
    margin: 10px 0 0 0;
    width: 250px;
    border: 1.9px solid black;
    border-radius: 20px;
    background-color: #C79F6B;
    color: black;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
}

input:hover {
    filter: brightness(0.95);
}

input:focus {
    border: 3px solid black;
    outline: none;
}

#signUpBttn {
    font-size: 16px;;
    margin: 10px 10px 0 0;
    height: 35px;
    width: 90px;
    text-align: center;
    border-radius: 20px;
    background-color: #8AA8A1;
    border: 1.9px solid black;
    font-family: "Kanit", sans-serif;
}

#signUpBttn:hover {
    filter: brightness(0.95);
}

.title {
    font-size: 35px;
}

#errorBanner {
    background-color: #D52941;
    border: 1.9px solid black;
    padding: 5px 8px 8px 8px;
    border-radius: 15px;
}

.hidden {
    display: none;
}

#closeIcon {
    background-color: #D52941;
}

#closeButton {
    background-color: #D52941;
    border: none;
}

#errorText {
    font-size: 16px;;
}

