@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    border-right: 20px solid #25283D;
    border-left: 20px solid #25283D;
    border-bottom: 25px solid #25283D;
    box-sizing: border-box;
    background-color: #4D9367;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    font-style: normal;
}

#navBar {
    border-bottom: 10px solid #25283D;
    border-top: 10px solid #25283D;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-color: #25283D;
    justify-content: center;
}

#headingText {
    color: white;
    font-size: 20px;
    text-align: center;
}

.bookSpine {
    border: 1px solid black;
    display: flex;
    color: white;
    padding: 5px;
    text-align: center;
    width: 20px;
    writing-mode: vertical-rl;
    font-size: 12px;
    cursor: pointer;
}

.bookSpine1 {
    background-color: #DC4441;
    height: 70px;
    margin: 35px 0 0 0;
}

.bookSpine2 {
    background-color: #428BB3;
    height: 100px;
    margin: 5px 0 0 0;
}

.bookSpine3 {
    background-color: #DE9217;
    height: 50px;
    margin: 55px 0 0 0;
}

.bookSpine4 {
    background-color: #7E5A9B;
    height: 85px;
    margin: 20px 0 0 0;
}

.container {
    display: flex;
}

#bookShelf{
    display: flex;
    flex-wrap: wrap;
}

button {
    border: none;
    background: none;
    padding: 10px;
}

#addIcon {
    background-color: white;
    cursor: pointer;
    border-radius: 15px;
}

#editIcon {
    color: white;
    cursor: pointer;
}

#oneline {
    display: flex;
}

.spacer {
    flex-grow: 1;
}

#logoutBttn{
    color: white;
    cursor: pointer;
}

#saveBttn {
    color: white;
    cursor: pointer;
}

input {
    border-radius: 15px;
    font-size: 20px;
    padding: 5px;
    width: 150px;
}

#goalBttn {
    color: white;
    cursor: pointer;
}

#errorBanner {
    background-color: #D52941;
    border: 1.9px solid black;
    padding: 5px 8px 8px 8px;
    border-radius: 15px;
    width: 500px;
    height: 30px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
}

.hidden {
    display: none;
}

#closeIcon {
    background-color: #D52941;
}

#closeButton {
    background-color: #D52941;
    border: none;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    left: 10px;
    bottom: 15px;
}

#errorText {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    right: 10px;
    bottom: 13px;
}